/* Variables */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --header-background: #F3F7F9;
    --special-white: #E5E5E5;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-grey: #32425C;
    --special-darkergrey: #293449;
    --special-darkgrey: #161D29;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-greylight: #EAEAEA;
    --rare-darkergrey: #1D2739;
    --rare-grey: #212A3A;
    --rare-greylight: #A9A9A9;
    --rare-green: #518534;
    --rare-boxshadow: #405069;
    --rare-filtergrey: #D7DCDE;
    --rare-filtergreen: #00CA74;
    --rare-filterheading: #F7F3EC;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --red-button-hover: #CA2C37;
    --buy-button-border: #367315;
    --logo-border: #B52933;
    --error: #BA2732;
    --heading-special: #f9f5f0;
}

/* Global */

body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--basic-black);
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.logo,
.logo-footer {
    display: block;
    background-color: var(--basic-red);
    box-shadow: 0px 5px 0px var(--logo-border);
    line-height: 0;
}

.logo:active {
    background-color: var(--error);
}

.red-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
    text-transform: uppercase;
}

.red-button:hover {
    background-color: var(--red-button-hover);
}

.red-button:active {
    background-color: var(--error);
}

.white-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.white-button:hover {
    color: var(--basic-red);
}

.white-button:active {
    color: var(--basic-greylight);
}

.transparent-button {
    width: 135px;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--basic-white);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.transparent-button:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.transparent-button:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-top: 7px solid var(--basic-red);
    box-shadow: 
    0px 4px 20px rgba(0, 0, 0, 0.15),
    inset 0px -112px 0px rgba(244, 244, 244);
    z-index: 99;
    animation: bounce 0.9s;
}

.modal .red-button {
    border: none;
    outline: none;
}

.modal-close {
    position: absolute;
    top: 14px;
    right: 11px;
    width: 21px;
    height: 21px;
    border: none;
    background: transparent;
    background-image: url("../img/icon-close.svg");
    cursor: pointer;
}

.modal-write-us {
    width: 613px;
}

.form-write-us {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 37px;
}

.form-write-us p {
    margin: 0;
}

.form-write-us label {
    display: block;
    margin-bottom: 11px;
}

.form-write-us .red-button {
    margin-top: 74px;
    width: 100%;
    cursor: pointer;
}

.input-write-us {
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #C5C5C5;
    border-radius: 2px;
    padding-top: 7px;
    padding-right: 8px;
    padding-bottom: 7px;
    padding-left: 12px;
    margin-bottom: 11px;
}

.textarea-write-us {
    width: 460px;
    height: 114px;
    box-sizing: border-box;
    border: 2px solid #C5C5C5;
    border-radius: 2px;
    padding-top: 7px;
    padding-right: 8px;
    padding-bottom: 7px;
    padding-left: 12px;
    resize: vertical;
}

.modal-map {
    width: 943px;
}

.modal-map .modal-close {
    top: 10px;
    right: 10px;
}

.modal-map iframe {
    border: none;
}

.modal-buy {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 620px;
}

.modal-buy-container {
    width: 395px;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 35px;
}

.modal-buy .modal-close {
    top: 11px;
    right: 11px;
}

.modal-buy-button {
    width: 395px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 87px;
    box-sizing: content-box;
}

.modal-buy-button a {
    box-sizing: border-box;
    min-width: 192px;
    height: 38px;
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
}

.modal-buy-button button {
    box-sizing: border-box;
    min-width: 192px;
    height: 38px;
    margin: 0;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    outline: none;
    border: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-buy-info {
    display: flex;
    justify-content: flex-end;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 25px 5px;
}

.modal-buy-info  p {
    padding-right: 35px;
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.modal-error {
    animation: shake 0.8s;
}

.modal-hidden {
    display: none;
}

/* Header */

.common-header {
    background-color: var(--header-background);
    padding-bottom: 60px;
}

.common-header-top-area {
    background-color: var(--special-darkergrey);
    color: var(--basic-white);
}

.common-header-top-area a {
    color: var(--basic-white);
}

.search-bar {
    background-color: inherit;
    border: none;
    color: var(--basic-white);
}

.search-bar::placeholder {
    color: var(--basic-white);
    opacity: 1; /* для Firefox */
}

.search-bar:focus {
    background-color: var(--basic-white);
    outline: none;
    color: var(--basic-black);
}

.header-bar-element:active {
    background-color: var(--special-darkgrey);
    color: rgba(255, 255, 255, 0.5);
}

.header-order {
    background-color: var(--basic-green);
}

.header-order:hover {
    background-color: var(--success);
}

.header-order:active {
    background-color: var(--basic-green);
    color: rgba(255, 255, 255, 0.5);
}

.info {
    min-height: 71px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    vertical-align: middle;
    color: var(--basic-red);
}

.phone p {
    font-size: 14px;
    color: var(--special-grey);
}

.phone a {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    border: 3px solid var(--basic-white);
}

.header-navigation {
    background-color: var(--special-grey);
    box-shadow: inset 0px -5px 0px var(--special-darkergrey);
}

.header-navigation ul{
    list-style: none;
}

.header-navigation a {
    color: var(--basic-white);
}

.header-navigation a:hover {
    background-color: var(--special-darkergrey);
}

.header-navigation a:active {
    background-color: var(--rare-darkergrey);
    opacity: 0.5;
}

/* Main */

.index-column h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.index-column p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
}

.index-column ul {
    list-style: none;
}

/* Дополняем Main */

.promo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 23px;
    padding-right: 110px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.promo-list h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}

.promo-list-materials {
    background-color: var(--special-yellow);
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.promo-list-tools {
    background-color: var(--special-blue);
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 194px 34px;
}

.promo-list-equipments {
    background-color: var(--special-lilac);
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.promo-list-discount {
    background-color: var(--special-greenlight);
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 196px 26px;
}

.promo-list-delivery {
    background-color: var(--special-yellow);
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 191px 32px;
}

/* Слайдер */

.slider-list {
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.slider-list h4 {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.slider-list li {
    background-color: var(--rare-greylight);
}

.slide {
    display: none;
    box-sizing: border-box;
    width: 620px;
    min-height: 266px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.current-slide {
    /*display: block;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 23px;
    padding-left: 24px;
    padding-bottom: 27px;
    padding-left: 24px;
}

.slide-info p,
.slide-info h4 {
    margin: 0;
    padding: 0;
}

.slide-info h4 {
    margin-bottom: 5.5px;
}

.slide-perforator {
    background-image: url("../img/slide-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.slide-drill {
    background-image: url("../img/slide-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.slider-controls button {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    cursor: pointer;
    outline: none;
}

.slider-controls .current-slide-button {
    background-color: var(--basic-red);
}

.slider-move {
    width: 22px;
    height: 44px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 122px;
}

.slider-forward {
    background: transparent;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    right: 21px;
}

.slider-backward {
    background: transparent;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    left: 24px;
}

.heading-with-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--special-grey);
    margin: 0;
    padding: 0;
    background-color: var(--heading-special);
}

.supplier-list {
    list-style: none;
}

.service{
    background-color: var(--basic-background);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.service h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.service-list {
    list-style: none;
}

.service-list a {
    color: var(--basic-white);
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--special-grey);
    box-shadow: 0px 1px 0px var(--special-darkergrey), inset 0px 1px 0px var(--rare-boxshadow);
}

.service-list a:hover {
    background-color: var(--special-darkergrey);
    box-shadow: 0px 1px 0px var(--special-darkergrey), inset 0px 1px 0px var(--rare-boxshadow); 
}

.service-list .service-list-active,
.service-list .service-list-active:hover {
    color: var(--special-grey);
    background: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}

.service-slide {
    display: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
}

.service-slide h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--special-grey);
}

.service-slide-current {
    display: block;
}

/* Footer */

.common-footer {
    background-color: var(--special-grey);
}

.common-footer ul{
    list-style: none;
}

.common-footer a:hover {
    text-decoration: underline;
}

.common-footer a:active {
    text-decoration: none;
}

.footer-top,
.footer-top a {
    color: var(--basic-background);
}

.footer-top a:active {
    opacity: 0.5;
}

.footer-top .logo-footer:active {
    background-color: var(--error);
    opacity: 1;
}

.special-list a,
.footer-bottom a {
    color: var(--special-yellowlight);
}

.footer-bottom {
    background: var(--special-darkergrey);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-bottom a:active {
    color: var(--basic-red);
}

.socials a {
    background-color: var(--rare-grey);
}

.socials a:hover {
    background-color: var(--basic-red);
}

/* ---Catalog--- */

/* Catalog-header */

.username-button {
    width: 100%;
    position: relative;
    text-align: center;
}

.username-button:hover {
    color: var(--basic-black);
}

.username-button:active {
    color: var(--basic-greylight);
}

.user-features {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.delimiter {
    position: relative;
    margin-left: 32px;
}

.delimiter::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -18px;
    width: 4px;
    height: 4px;
    background-color: var(--special-grey);
    border-radius: 50%;
}

.user-features a, 
.user-features li {
    color: var(--special-grey);
}

.user-features a:hover,
.user-features li:hover {
    color: var(--basic-red);
}

.user-features a:active,
.user-features li:active {
    color: var(--basic-greylight);
}

.user-features li:first-child {
    list-style: none;
}

/* Catalog-Main */

.page-title {
    box-sizing: border-box;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--special-grey);
    width: 940px;
    background-color: var(--basic-background);
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.breadcrumbs {
    order: -1;
    width: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-icon {
    width: 14px;
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.breadcrumbs-element {
    padding-left: 41px;
    position: relative;
}

.breadcrumbs-element::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    top: 3px;
    left: 18px;
}

/* Catalog-Filter */

.filter {
    min-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filter-button {
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 38px;
    border: 1px solid var(--special-white);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.filter legend {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter fieldset {
    border: none;
}

.filter ul {
    list-style: none;
    font-family: PT Sans;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.toggle {
    width: 20px;
    height: 22px;
    border: none;
    outline: none;
    background: transparent;
    background-image: url("../img/filter-button.svg");
    cursor: pointer;
}

.range-controls {
    width: 220px;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: var(--rare-filterheading);
}

.range-controls .scale {
    height: 2px;
    background: var(--rare-filtergrey);
}

.range-controls .bar {
    height: 2px;
    width: 79%;
    background: var(--rare-filtergreen);
}

.price-controls input {
    width: 95px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 9px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--rare-filterheading);
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-controls  input[type='number'] {
    -moz-appearance: textfield;
}

.line {
    padding-top: 9px;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
}

.filter h2 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--rare-filterheading);
    margin: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 18px;
    text-transform: uppercase;
}

.filter-form fieldset {
    padding: 0;
    margin: 0;
    margin-top: 13px;
}

.filter-form fieldset:not(:last-of-type) {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--special-white);
}

.filter-legend {
    margin-bottom: 12px;
}

.range-controls {
    position: relative;
    margin-bottom: 9px;
}

.scale {
    position: absolute;
    width: 180px;
    top: 49%;
    left: 50%;
    margin-left: -90px;
}

.toggle {
    position: absolute;
    top: 29px;
    left: 0px;
}

.toggle-min {
    left: 18px;
}

.toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    width: 220px;
    justify-content: space-between;
}

.filter-supplier {
    margin: 0;
    padding: 0;
}

.filter-supplier li {
    position: relative;
}

.filter-supplier li:not(:last-child) {
    margin-bottom: 20px;
}

.filter-supplier input[type="checkbox"],
.filter-supplier input[type="radio"] {
    display: none;
}

.filter-supplier label {
    cursor: pointer;
    padding-left: 35px;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
}

input[type="radio"] + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

input[type="radio"]:checked + label::before {
    background-image: url("../img/radio-on.svg");
}

input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label {
    opacity: 0.3;
}

.legend-supplier {
    padding-top: 3px;
    margin-bottom: 19px;
}

.legend-power {
    padding-top: 6px;
    margin-bottom: 25px;
}

/* Catalog-items */

.catalog {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    padding-bottom: 59px;
}

.item-list {
    list-style: none;
}

.item-list h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.item-list del {
    font-weight: bold;
    color: var(--rare-greylight);
    text-transform: uppercase;
}

.price {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: var(--basic-white);
    text-transform: uppercase;
    margin: 0;
}

.item-buttons {
    display: none;
}

.item-buttons a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.buy-button {
    color: var(--basic-white);
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--buy-button-border);
    border-radius: 2px;
    text-align: center;
    padding-left: 53px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../img/icon-cart-buy.svg");
    background-repeat: no-repeat;
    background-position: 30px 10px;
}

.buy-button:hover {
    background-color: var(--success);
}

.buy-button:active {
    background-color: var(--rare-green);
}

.bookmark-button {
    color: var(--special-grey);
    border: 3px solid var(--basic-green);
    border-radius: 2px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
}

.bookmark-button:hover {
    border-color: var(--special-grey);
}

.bookmark-button:active {
    opacity: 0.5;
}

.sorting {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--rare-filterheading);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 700px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.sorting p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.sorting a {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);
}

.sorting a:hover {
    opacity: 1;
    border-bottom-style: solid;
}

.sorting .sorting-type-current,
.sorting .sorting-type-current:hover {
    color: var(--basic-red);
    border: none;
    opacity: 1;
}

.pagination {
    list-style: none;
}

.pagination a {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--special-white);
    box-sizing: border-box;
    border-radius: 2px;
}

.pagination a:hover {
    border-color: var(--basic-greylight);
}

.pagination a:active {
    border-color: var(--basic-red);
}

.pagination .current-page {
    color: var(--basic-white);
    background-color: var(--basic-red);
    border:none;
}

/* Сетки и позиционированние элементов */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    display: flex;
    flex-direction: column;
}

.common-header-top-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-bar {
    width: 940px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.logo {
    box-sizing: border-box;
    width: 220px;
    /*text-align: center;*/
    padding-left: 55px;
    padding-right: 57px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.search-form {
    min-height: 42px;
}
.search-bar {
    box-sizing: border-box;
    width: 270px;
    min-height: 42px;
    padding: 0;
    padding-left: 42.5px;
    line-height: 18px;
}

.search-bar {
    background-image: url("../img/icon-search-gray.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
}

.search-bar:hover {
    background-image: url("../img/icon-search.svg");
}

.search-bar:focus {
    background-image: url("../img/icon-search-red.svg");
}

.header-bar-element {
    box-sizing: border-box;
    position: relative;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.bookmark {
    padding-left: 43.5px;
    padding-right: 23.5px;
}

.bookmark::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.cart {
    padding-left: 49.5px;
    padding-right: 25.5px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 26px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.bookmark:hover::before,
.bookmark-filled:hover::before,
.cart:hover::before,
.cart-filled:hover::before {
    opacity: 1;
}

.bookmark:active::before,
.bookmark-filled:active::before,
.cart:active::before,
.cart-filled:active::before {
    opacity: 0.5;
}

.header-order {
    box-sizing: border-box;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 19px;
    padding-right: 16px;
}

.container-header-info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 940px;
    margin-top: 44px;
    margin-bottom: 40px;
}

.info {
    width: 197px;
    margin: 0;
    margin-left: 30px;
}

.phone {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 94px;
    padding-top: 2px;
}

.phone a {
    position: relative;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-right: 42px;
    padding-left: 70px;
}

.phone a::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 10px;
    left: 36px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.phone p {
    margin: 0;
    margin-top: 3px;
    text-align: center;
}

.header-login {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 300px;
    justify-content: flex-end;
    margin-left: 50px;
    padding-top: 2px;
}

.enter {
    position: relative;
    padding-right: 26px;
    padding-left: 45px;
    margin-left: 11px;
}

.enter::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    left: 18px;
    top: 14px;
    background-image: url("../img/icon-login-blue.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.username-button::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    left: 15px;
    top: 13px;
    background-image: url("../img/icon-user-blue.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.username-button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    right: 17px;
    top: 14px;
    background-image: url("../img/icon-logout-blue.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.enter:hover::before,
.username-button:hover::after,
.username-button:hover::before {
    opacity: 1;
}

.enter:active::before,
.username-button:hover:active::after,
.username-button:hover:active::before {
    opacity: 0.3;
}

.registration {
    padding-right: 24px;
    padding-left: 24px;
    margin-left: 11px;
}

.header-navigation {
    display: flex;
    flex-direction: row;
    width: 940px;
    justify-content: center;
}

.header-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 890px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 22px;
}

.header-navigation-list a {
    display: block;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-right: 24px;
    padding-left: 27px;
}

.slider {
    display: flex;
    flex-direction: column;
    min-height: 266px;
    width: 620px;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.slide img {
    width: 620px;
    height: 266px;
}

.slide a {
    padding-left: 47px;
    padding-right: 46px;
}

.slider-controls {
    box-sizing: border-box;
    width: 320px;
    padding: 0;
    margin: 0;
    position: absolute;
    flex-wrap: wrap;
    top: 220px;
    left: 295px;
    display: flex;
    justify-content: flex-start;
}

.slider-controls button {
    margin-right: 10px;
    margin-bottom: 5px;
}

.index-promo {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 59px;
}

.grid-container {
    display: grid;
    width: 940px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    grid-gap: 20px;
}

.popular-goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
    margin-bottom: 52px;
}

.header-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 940px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--heading-special);
    padding-top: 26px;
    padding-bottom: 25px;
    padding-right: 14px;
    padding-left: 28px;
    margin-bottom: 20px;
}

.header-container .red-button {
    min-width: 192px;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.inner-item-list {
    position: relative;
    width: 220px;
    min-height: 318px;
    padding-top: 6px;
    padding-bottom: 21px;
    margin-bottom: 18px;
    display: flex;
}

.inner-item-list {
    box-sizing: border-box;
    border: 1px solid var(--special-greylight);
}

.inner-item-list:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner-item-list h3 {
    box-sizing: border-box;
    width: 185px;
    text-align: center;
    padding-top: 16px;
    margin: 0;
    margin-bottom: 7px;
}

.goods-preview {
    box-sizing: border-box;
    display: flex;
    width: 205px;
    height: 157px;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.goods-price-info {
    display: flex;
    min-height: 133px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.goods-price-info del {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    min-height: 24px;
    margin-bottom: 8px;
}

.price {
    box-sizing: border-box;
    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
    width: 141px;
    min-height: 38px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inner-item-list:hover .item-buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 135px;
    min-height: 86px;
    top: 38px;
    left: 41px;
}

.inner-item-list:hover .item-img {
    display: none;
}

.item-list-goods {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.popular-supplier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.supplier-list {
    width: 940px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.supplier-item {
    box-sizing: border-box;
    border: 1px solid var(--special-greylight);
    width: 220px;
    min-height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-bottom: 20px;
}

.supplier-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.supplier-item:active {
    opacity: 0.5;
}

.supplier-item img {
    object-fit: contain;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 64px;
}

.service h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-weight: normal;
}

.service p {
    width: 396px;
    margin: 0;
    padding: 0;
}

.service-container {
    width: 940px;
    display: flex;
    flex-direction: column;
}

.service-catalog {
    min-height: 279px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 21px;
    padding-bottom: 4px;
}

.service-list {
    position: relative;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 45px;
}

.service-list::after {
    content: url("../img/service-line.svg");
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.service-list-item {
    display: block;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 22px;
}

.service-items {
    flex-grow: 1;
    margin-left: 80px;
}

.service-slide {
    position: relative;
    min-height: 283px;
    padding-top: 45px;
}

.service-slide h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-weight: normal;
}

.service-slide p {
    width: 331px;
}

.service-slide .red-button {
    display: block;
    width: 195px;
    text-align: center;
    margin-top: 26.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}

.service-delivery {
    background-image: url("../img/delivery-background-image.png");
    background-repeat: no-repeat;
    background-position: right 67px;
}

.service-guarantee {
    background-image: url("../img/guarantee-background-image.png");
    background-repeat: no-repeat;
    background-position: right 45px;
}

.service-credit {
    background-image: url("../img/credit-background-image.png");
    background-repeat: no-repeat;
    background-position: right 45px;
}

.index-column {
    margin: 0;
    padding: 0;
    margin-top: 71px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.index-column-container {
    width: 940px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.index-column-container h2 {
    margin: 0;
    margin-bottom: 24px;
}

.about-us {
    width: 478px;
    display: flex;
    flex-direction: column;
}

.partner-list  {
    margin: 0;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 20px;
}

.partner-list li {
    position: relative;
    padding-left: 37px;
}

.partner-list li:not(:last-child) {
    margin-bottom: 12px;
}

.partner-list li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.about-us p {
    padding: 0;
    margin: 0;
}

.about-us p:not(:last-of-type) {
    margin-bottom: 27px;
}

.about-us .red-button {
    width: 220px;
}

.contacts {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.contacts p {
    width: 180px;
    padding: 0;
    margin: 0;
}

.map  {
    padding: 0;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 19px;
}

.common-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    box-sizing: border-box;
    width: 220px;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 20px;
}

.footer-top {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.footer-contacts {
    padding: 0;
    margin: 0;
    margin-top: 29px;
    padding-left: 3.2px;
}

.footer-contacts p,
.footer-contacts a {
    padding: 0;
    margin: 0;
}

.footer-navigation {
    width: 547px;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
}

.footer-navigation ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.footer-navigation .special-list {
    padding-left: 23px;
    margin-top: 34px;
}

.footer-bottom {
    align-self: stretch;
    display: flex;
    justify-content: center;
    padding-top: 35.5px;
    padding-bottom: 34px;
}

.footer-bottom-container {
    width: 940px;
    display: flex;
}

.footer-bottom-container p{
    margin-top: 0;
    margin-bottom: 0;
}

.copyright {
    width: 235px;
    padding-left: 1px;
}

.socials {
    margin-left: 153px;
    margin-right: 120px;
}

.social-list {
    width: 132px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.footer-email {
    width: 140px;
}

.footer-developer {
    width: 97px;
    margin-left: 49px;
}

.catalog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 21px;
}

.catalog-container {
    width: 940px;
    display: flex;
    flex-direction: column;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog {
    width: 700px;
}

.catalog-main .service {
    align-self: stretch;
    padding-bottom: 67px;
}

.service-catalog-container {
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.service-catalog-container .service-catalog-info {
    width: 100%;
    padding-bottom: 2px;
}

.catalog .item-list {
    width: 700px;
    margin-top: 28px;
}

.sorting-list {
    width: 458px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    padding-right: 15px;
}

.sorting-list > a {
    margin-right: 68px;
}

.sorting-list  a:last-of-type {
    margin-right: 46px;
}

.direction-buttons a.asc-desc-button {
    border: none;
    margin: 0;
}

.direction-buttons a.asc {
    margin-right: 18px;
}

.direction-buttons .asc-desc-button:hover {
    border: none;
}

.direction-buttons .asc-desc-button-current {
    opacity: 1;
}

.asc-desc-button-current path {
    fill: var(--basic-red);
}

.pagination {
    margin: 0;
    padding: 0;
    margin-top: 26px;
    display: flex;
    width: 100%;
}

.pagination li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.pagination a {
    box-sizing: border-box;
    min-width: 38px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination .pagination-next {
    padding-left: 29px;
    padding-right: 31px;
    text-transform: uppercase;
}

.new {
    position: relative;
    overflow: hidden;
}

.new::before {
    content: "NEW";
    position: absolute;
    right: -27px;
    top: 8px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    background-color: var(--basic-red);
    transform: rotate(45deg);
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--basic-white);
    padding-top: 7px;
    padding-bottom: 4px;
}

/* Animations */

@keyframes bounce {
    0% {
      transform: translate(calc(-50% + 0.5px), -2000px);
    }
  
    70% {
      transform: translate(calc(-50% + 0.5px), 30px);
    }
  
    90% {
      transform: translate(calc(-50% + 0.5px), -10px);
    }
  
    100% {
      transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }
  }

  @keyframes shake {
    0%,
    100% {
        transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(calc(-55% + 0.5px), calc(-50% + 0.5px));
    }
  
    20%,
    40%,
    60%,
    80% {
        transform: translate(calc(-45% + 0.5px), calc(-50% + 0.5px));
    }
  }

  /* Fix */

  .vk {
      background-image: url("../img/icon-vk.svg");
      background-repeat: no-repeat;
      background-position: 8px 12px;
  }

  .fb {
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: 16px 9px;
}

.instagram {
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: 11px 9px;
}

.normal-list {
    padding-right: 0;
}

.bookmark-filled {
    width: 165px;
    padding-left: 43.5px;
    padding-right: 38px;
}

.bookmark-filled::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.cart-filled {
    background-color: var(--basic-red);
    width: 136px;
    padding-left: 35px;
    padding-right: 20px;
}

.cart-filled::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 10px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.filled {
    width: 150px;
    padding-left: 19px;
    padding-right: 14px;
}